
	<!--Inicio footer-->

	<div class="footer-bottom1">
		
				
				<div class="col-lg-12" style="background-color: #222;">
					<a href="https://www.facebook.com/" target="blank" title="Ir a facebook." class="fab fa-facebook-f"  style="background-color: #222;"></a>
					<a href="https://twitter.com/?lang=es" target="blank" title="Ir a twitter." class="fab fa-twitter" style="background-color: #222;"></a>
					<a href="https://www.google.com/gmail" target="blank" title="Ir a gmail." class="fab fa-google" style="background-color: #222;"></a>
					<a href="https://wwww.youtube.com" target="blank" title="Ir a youtube." class="fab fa-youtube" style="background-color: #222;"></a>
					<a href="https://www.instagram.com/" target="_blank" title="Ir a instagram." class="fab fa-instagram" style="background-color: #222;"></a>
					<a href="https://www.skype.com/es/" target="blank" title="Ir a skype." class="fab fa-skype" style="background-color: #222;"></a>					
				</div>
		
	</div>
		<!--Fin footer-->
		<div class="footer-bottom">
				<p>Copyright © 2019. Todos los Derechos Reservados.</p>
		</div>