
	<!--Inicio footer-->
	
  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
			<div class="col-lg-12" style="background-color: #222;">
					<a href="https://www.facebook.com/" target="blank" title="Ir a facebook." class="fab fa-facebook-f"  style="background-color: #222;"></a>
					<a href="https://twitter.com/?lang=es" target="blank" title="Ir a twitter." class="fab fa-twitter" style="background-color: #222;"></a>
					<a href="https://www.google.com/gmail" target="blank" title="Ir a gmail." class="fab fa-google" style="background-color: #222;"></a>
					<a href="https://wwww.youtube.com" target="blank" title="Ir a youtube." class="fab fa-youtube" style="background-color: #222;"></a>
					<a href="https://www.instagram.com/" target="_blank" title="Ir a instagram." class="fab fa-instagram" style="background-color: #222;"></a>
					<a href="https://www.skype.com/es/" target="blank" title="Ir a skype." class="fab fa-skype" style="background-color: #222;"></a>					
				</div>
      <div class="small text-center text-muted">Copyright © 2019. Todos los Derechos Reservados.</div>
    </div>
  </footer>
