<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-center">
            <h1 class="mb-1">Master Presupuesto</h1>
            <div style="margin-top: 30px;"></div>

			<div class="contenedor">
				<div class="centro">
					<div class="col-md-4"></div>
			
					<div class="col-md-4" style="text-align: center; font-family: Merriweather;">
						<button onclick="typeWriter()" type="button" class="leer" style="margin-bottom: 10px;">Bienvenido</button>
						<p id="bienvenido"></p>
						<br>
						<p id="bienvenido2"></p>
					</div>
	
					<div class="col-md-4">
				
					</div>
				</div>
			</div>
            <h3 class="mb-5">
                <em>Puedes evaluar tu presupuesto ahora!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="user/iniciarSesion">
                Crear Presupuesto
            </a>       
        </div>
        <div class="overlay"></div>
    </header>
</main>